.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  user-select: none;
  min-height: 100vh;
  line-height: 80px;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-text {
  user-select: text;
  line-height: 40px;
  line-break: anywhere;
  width: 300px;
  max-width: 300px;
  height: auto;
  max-height: 300px;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px auto;
  font-size: calc(20px + 2vmin);

  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 10px 10px 10px 10px;
}
.App-button {
  overflow: hidden;
  margin:0 auto;
  margin-right: 10px;
  text-align: center; /* テキストを中央揃え */

  top: -10px;
  width: 60px;
  height: 80px;

  color: #FFF;
  transition: 0.3s ease-in-out;
  font-size: calc(50px + 2vmin);
  font-weight: 100px;
  background: #727272;
  border-radius: 8px;
  border-bottom: solid 5px #454545;
}
.App-button:hover {
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: shad26 1.5s infinite;
	color: #ffffff;
}
@keyframes shad26 {
	0% {box-shadow: 0 0 0 0 #ffffff;}
	70% {box-shadow: 0 0 0 10px rgb(39 172 217 / 0%);}
	100% {box-shadow: 0 0 0 0 rgb(39 172 217 / 0%);}
}
